<ion-header >
  <ion-toolbar>
    <ion-title>Mi nombre es Matias Lopez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-text color="primary">
    <h1>Botones Bravo</h1>
  </ion-text>
  <ion-button>Mi boton</ion-button> 

  <ion-button expand="block">Block</ion-button> 

  <ion-button expand="full" fill="solid" shape="round" color="tertiary">Block</ion-button>


  <ion-button expand="full" fill="solid" shape="round" color="success">Block
    <ion-icon slot="start" name="star"></ion-icon>
  </ion-button> 
</ion-content>
