<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      SANTA SABINA
    </ion-title>
    <ion-icon slot="end" name="person" size="large" class="ion-padding" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Matias Ignacio</h1>
  </ion-text>

  <ion-text color="dark">
    <p>Esta la pagina inicial Lopez Bravo</p>
  </ion-text>
  <ion-text color="tertiary" routerLink="/matiaslopez">
    <h4> Pagina 2</h4>
  </ion-text>

</ion-content>


